body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f45a5d;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero {
    background-image: url('bag.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

#hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#hero button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #ff4b5c;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#hero button:hover {
    background-color: 
    #fff706;
}
header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#searchBar {
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
     align-items: center;
}

main {
    padding: 20px;
}

#about,
#contact {
    padding: 50px 20px;
    background-color: #ffefef;
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: auto;
}

#contact form label {
    display: block;
    margin: 10px 0 5px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact form button {
    padding: 10px 20px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-item {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.about-item {
    background-color: #dabdf9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}
